
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">

        <div class="vertical-stack">
            <div>
                <p>Logged in as: {{username}}</p>
                <p>VR Conference ID: {{VRconferenceId}}</p>
            </div>
            <div class="events-table">
                {{#each allEventsMap}}
                <div class="event-row">
                    <p>Timestamp: {{this.timestamp}}</p>
                    <p>ID: {{this.id}}</p>
                    <p>Request ID: {{this.requestId}}</p>
                    <p>Type: {{this.type}}</p>
                    <p>Voter ID: {{this.voterId}}</p>
                    <p>Open Space ID: {{this.openSpaceId}}</p>
                <p>User ID: {{this.userId}}</p>
                <p>Conference ID: {{this.conferenceId}}</p>
                <p>name: {{this.name}}</p>
                </div>
                {{/each}}
            </div>
        </div>

        <h1>Topics for {{eventName}}</h1>

        <div class="topics-table">
            <table>
                <thead>
                    <tr>
                        <th>Topic Names</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each topics}}
                    <tr>
                        <td>{{this.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="form-container">
            <form action="/submit_topic" method="POST">
                
                <div class="form-group">
                    <label for="name">Topic Name:</label>
                    <textarea id="topic" name="name" required rows="5"></textarea>
                </div>

                <button type="submit" class="continue-button">Submit</button>
                <input type="hidden" id="id" name="id" value="{{id}}">
            </form>
        </div>

        <div class="voting-link">
            <a href="/topic_voting?conferenceId={{id}}">
                <button class="vote-button">Go to Topic Voting</button>
            </a>
        </div>


    </div>
