
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
        <p>Logged in as: {{username}}</p>
        <p>VR Conference ID: {{VRconferenceId}}</p>
        <table>
            <thead>
                <tr>
                    <th>Voter Registration Map</th>
                </tr>
            </thead>
            <tbody>
                {{#each voterRegistrationMap}}
                <tr>
                    <td>{{this}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        
        <h1>Topics for {{eventName}}</h1>

        <div class="topics-table">
            <table>
                <thead>
                    <tr>
                        <th>Topic Names</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each topics}}
                    <tr>
                        <td>{{this.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="form-container">
            <form action="/submit_topic" method="POST">
                
                <div class="form-group">
                    <label for="name">Topic Name:</label>
                    <textarea id="topic" name="name" required rows="5"></textarea>
                </div>

                <button type="submit" class="continue-button">Submit</button>
                <input type="hidden" id="id" name="id" value="{{id}}">
            </form>
        </div>

        <div class="voting-link">
            <a href="/topic_voting?conferenceId={{id}}">
                <button class="vote-button">Go to Topic Voting</button>
            </a>
        </div>


    </div>
