<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Close Registration</title>
    <link rel="stylesheet" href="/css/styles.css?v=<%= Time.now.to_i %>">
</head>
<body>
    <div class="center-container">
        <% if conference_id %>
          <div class="content">
              <h1>Show this to participants</h1>
              <div class="qr-code">
                  <%= conference_id[:qr] %>
              </div>
              <p>Conference URL: <a href="<%= conference_id[:url] %>"><%= conference_id[:url] %></a></p>
              <% if registration_status[:status] == "open" %>
                <form action="/close_registration" method="post" style="text-align: right;">
                  <input type="hidden" name="confId" value="<%= conference_id[:conf_id] %>">
                  <button type="submit" class="continue-button">Close Registration</button>
                </form> 
              <% else %>
                <form action="/open_registration" method="post" style="text-align: right;">
                    <button type="submit" class="continue-button">Open Registration</button>
                </form>
              <% end %>
          </div>
        <% else %>
          <p>No conference ID found</p>
        <% end %>
    </div>
</body>
</html>